{{#form-for user onsubmit=(action 'submit') as |f|}}
  <header>{{icon 'email-solid'}} Invite User</header>
  <div class="body">
    <p>Provide an email address that's connected to a <a href="https://facebook.com">Facebook</a> or <a href="https://mail.google.com">Google</a> account.</p>
    <p>Once added, they'll be able to login to the site using their social network of choice.</p>
    {{f.text 'email' label=false placeholder='example@gmail.com'}}
  </div>
  <footer>
    <button>Invite User</button>
    {{#action-link action=dismiss}}Cancel{{/action-link}}
  </footer>
{{/form-for}}