$life: #FF3800;
$healing: #FE9A01;
$sunlight: #FFFE03;
$nature: #00FF01;
$magic: #03F2FE;
$serenity: #4240FF;
$spirit: #9600FF;
$sexuality: #FF49D6;

$black: #050505;
$soot:  #333333;
$heather: #DFDFDF;
$cloudy: #F3F3F3;
$white:  #FFFFFF;

$transparent: rgba(0, 0, 0, 0);
$theme: $magic;
