label {
  display: block;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

form {
  .pad {
    margin-left: 1rem;
  }
  .fill input {
    width: 100%;
  }
}

input[type=text],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=tel],
input[type=password],
input[type=number],
input[type=url],
textarea {
  height: 40px;
  border: 2px solid $black;
  font-size: 1rem;
  padding: 0 0.5em;
  font-family: 'Libre Baskerville', Baskerville;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;
  transition: box-shadow 120ms;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
      -ms-appearance: textfield;
          appearance: textfield;

  background: $transparent;
  box-shadow: none;
  &:hover {
    box-shadow: 0 0 0 3px rgba($soot, 0.1);
  }

  &:focus, &:active {
    outline: none;
    box-shadow: 0 0 0 3px rgba($soot, 0.2);
  }
}

input[type=text],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=tel],
input[type=password],
input[type=number] {
  white-space: nowrap;
}

textarea {
  padding: 0.5rem;
  height: auto;
}

input[type=radio] {
  width: 30px;
  height: 30px;
  border: 2px solid $black;
  background: $white;
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
  border-radius: 15px;
  position: relative;
  &:after {
    position: absolute;
    content: ' ';
    display: block;
    left: 13px;
    top: 13px;
    width: 0px;
    height: 0px;
    background: $black;
    transition: all 0.2s;
    border-radius: 0px;
  }
  &:checked:after {
    left: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}

select {
  position: relative;
  border: 0;
  height: 40px;
  font-size: 1rem;
  font-family: inherit;
  padding: 0 1rem;
  background: $black;
  color: $white;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
  width: 100%;
}

label.radio {
  padding: 0;

  span {
    position: relative;
    top: -12px;
    left: 5px;
  }
}

.alert {
  background: $life;
  color: $white;
  padding: 0.5rem 1rem 1rem;
  svg {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 0.5rem;
    padding-right: 0.5rem;
    use {
      fill: $white;
    }
  }
}

.cvc {
  margin-top: 3rem;
}

label input[type=file] {
  display: none;
}

@media screen and (max-width: 500px) {
  input[type=text],
  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=tel],
  input[type=password],
  input[type=number],
  textarea,
  select {
    font-size: 1.2rem;
  }
}