.photo-field {
  position: relative;
  min-height: 5rem;
  .file-upload .icon {
    position: relative;
    top: 0.5rem;
  }

  .delete-photo {
    transition: all 120ms;
    background: rgba($white, 0.2);
    border-radius: 1.2rem;
    width: 24px;
    height: 24px;
    position: absolute;
    right: calc(.5rem + 12px);
    top: calc(.5rem + 12px);
    cursor: pointer;

    path {
      transition: all 120ms;
    }

    &:hover path {
      fill: $life;
    }

    &:active {
      background: rgba(lighten($life, 20%), 0.8);
      width: 2.4rem;
      height: 2.4rem;
      right: 1rem;
      top: 1rem;
      path {
        fill: $life;
      }
    }

    svg {
      background: rgba($white, 0.8);
      transition: all 120ms;
      border-radius: 12px;
      position: absolute;
      left: calc(50% - 12px);
      top: calc(50% - 12px);
    }
  }
}