.photo-field {
  .file-field {
    position: relative;
  }
  .delete-photo {
    transition: all 120ms;
    background: rgba($white, 0.2);
    border-radius: 1.2rem;
    width: 24px;
    height: 24px;
    position: absolute;
    right: calc(.5rem + 12px);
    top: calc(1.5rem + 12px);
    cursor: pointer;

    &:hover {
      svg {
        fill: $life;
      }
    }

    &:active {
      background: lighten($life, 20%);
      width: 2.4rem;
      height: 2.4rem;
      right: 1rem;
      top: 2rem;
      svg {
        fill: $life;
      }
    }

    svg {
      background: $white;
      transition: all 120ms;
      border-radius: 12px;
      position: absolute;
      left: calc(50% - 12px);
      top: calc(50% - 12px);
    }
  }
}