.photo-field {
  position: relative;
  &.present {
    min-height: 5rem;
  }

  .file-upload .icon {
    position: relative;
    top: 0.5rem;
  }

  .caption-photo,
  .delete-photo {
    cursor: pointer;

    position: absolute;
    right: calc(.5rem + 12px);
    top: calc(.5rem + 14px);

    path {
      fill: $black;
    }

    &:hover path {
      fill: $life;
    }

    &:before {
      position: absolute;
      transition: all 120ms;
      background: $white;
      border-radius: 1.2rem;
      top: 2px;
      left: 2px;
      width: 20px;
      height: 20px;
      content: ' ';
      display: block;
    }

    &:active {
      &:before {
        background: rgba(lighten($life, 30%), 0.8);
        width: calc(20px + 1.2rem);
        height: calc(20px + 1.2rem);
        top: calc(2px - 0.6rem);
        left: calc(2px - 0.6rem);
      }
      path {
        fill: $life;
      }
    }

    svg {
      position: relative;
      transition: all 120ms;

      path {
        transition: all 120ms;
      }
    }
  }

  .caption-photo {
    top: calc(3.5rem + 12px);

    &:hover path {
      fill: $soot;
    }
    &:active {
      &:before {
        background: rgba($heather, 0.8);
      }
      path {
        fill: $soot;
      }
    }
  }

  .caption .pop-over-container {
    width: 24rem;
    max-width: calc(100vw - 4rem);

    form {
      & > div {
        padding: 0 1.5rem;
      }
      & > div:first-child {
        padding-top: 1rem;
      }
      & > footer {
        margin-top: 2rem;
      }
    }
  }
}