<h1 class="logo align-left">
  <span class="q">Queer</span>
  <span class="t">Tango</span>
  <span class="c">Club</span>
</h1>
{{#file-dropzone name='new-hero'}}
  {{#file-upload name='new-hero'
    onfileadd=(route-action 'changePhoto' model)
    accept='image/*'}}
    {{icon 'photo-solid'}} Change Photo
  {{/file-upload}}
{{/file-dropzone}}

{{hero-image src=model.hero alt=model.name}}
