<h1 class="logo align-left">
  <span class="q">Queer</span>
  <span class="t">Tango</span>
  <span class="c">Club</span>
</h1>
{{#file-dropzone name='new-hero'}}
  {{to-elsewhere named='admin' send=(component 'new-hero-upload' onfileadd=(route-action 'changeHero' model))}}
{{/file-dropzone}}

{{hero-image hero=model.hero alt=model.name}}
