.text-field {
  position: relative;
  a {
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    outline: none;

    path {
      transition: all 200ms;
    }

    &:hover path {
      fill: $soot;
    }

    &:active path {
      fill: $spirit;
    }

    & + input {
      padding-left: 2.5rem;
    }
  }
}