{{title "Members"}}

<div id="members">
  <div class="frame">
    <header>
      <h2>
        {{search-field value=q onchange=(action (mut q))
                       placeholder="Members"}}
      </h2>
    </header>
  </div>
  {{tabular-list columns='name email' rows=model href='member' sort=sort}}
</div>