.check-list {
  li {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    border-bottom: 2px solid $black;
    padding-left: 3rem;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;

    &:last-child {
      border-bottom: 0;
    }

    &:hover path,
    &:active path {
      fill: $soot;
    }

    &.checked {
      &:hover path,
      &:active path {
        fill: $soot;
      }
    }
  }

  svg {
    position: absolute;
    top: calc(50% - 12px);
    left: 6px;
  }
}
