{{title 'Events'}}
{{remember-document-scroll key='events'}}

<section>
  {{#with model.upcoming as |upcomingEvents|}}
    <div class="frame">
      <nav>
        <h2>Events</h2>
      </nav>
      <hr class="thick">
      <br>
    </div>
    {{#each upcomingEvents as |event|}}
      {{#each (await event.coverPhotos) as |coverPhoto|}}
        {{cover-photo coverPhoto=coverPhoto}}
      {{/each}}
    {{/each}}
  {{/with}}

  <div class="frame">
    <h2>Past Events</h2>
    <hr class="thick">
    <br>
  </div>
  {{#each model.past as |event|}}
    {{#each (await event.coverPhotos) as |coverPhoto|}}
      {{cover-photo coverPhoto=coverPhoto}}
    {{/each}}
  {{/each}}
</section>
