#events {
  .table {
    .title {
      width: calc(45% - 120px);
      height: 40px;
    }

    .starts-at {
      width: 40%;
      height: 40px;
    }

    .last-sign-in-at {
      width: calc(15% + 120px);
    }
  }
}