<div class="frame">
  <button class="with-icon" onclick={{route-action 'loginViaFacebook'}}>{{icon 'facebook'}} Login with Facebook</button>
  <button class="with-icon" onclick={{route-action 'loginViaGoogle'}}>{{icon 'google'}} Login with Google</button>
</div>