#expenses {
  .table {
    .name {
      width: 30%;
      height: 40px;
    }

    .expensed-by {
      width: 23%;
    }

    .amount {
      width: 22%;
    }

    .expensed-at {
      width: 35%;
    }

    .amount {
      text-align: right;
    }

    @media screen and (max-width: 500px) {
      .amount {
        text-align: left;
      }
    }
  }
}