{{remember-document-scroll key='about/edit'}}

<section id="about-edit">
  {{#form-for model onsubmit=(route-action 'save') as |f|}}
    <div class="frame">
      <header>
        <h2>
          {{#link-to 'about'}}About{{/link-to}} {{icon "right-chevron"}} Edit
        </h2>
      </header>
      <hr class="thick">
      {{f.textarea 'about' label=false rows=16 }}
      <button>Save</button>
    </div>
  {{/form-for}}
</section>
