.dialog-container {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dialog-background {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, .3);
  pointer-events: auto;
}

.dialog-box {
  z-index: 400;
  position: absolute;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    background: $black;
    color: $white;
    width: 30rem;
    max-width: calc(100vw - 20px);
    height: auto;
    max-height: 100vh;
    box-shadow: -5px 0 20px rgba($black, .5);
    pointer-events: auto;
  }

  a {
    color: $white;
  }

  header {
    @extend .smcp;
    position: relative;
    padding: 15px 20px 15px 55px;
    border-bottom: 1px solid $soot;
    line-height: 20px;

    .icon {
      position: absolute;
      top: 13px;
      left: 20px;
    }
  }

  .icon {
    fill: $white;
  }

  p:not(:last-child) {
    padding: 0 0 20px 0;
  }

  .body {
    padding: 20px;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
  }

  footer button {
    background: $white;
    color: $black;
    &:hover:not(:disabled) {
      background: $heather;
    }
  }

  input, textarea {
    color: $white;
    border-color: $white;
    width: 100%;

    &:placeholder {
      color: $soot;
    }

    &:hover {
      box-shadow: 0 0 0 3px rgba($white, 0.2);
    }

    &:focus, &:active {
      outline: none;
      box-shadow: 0 0 0 3px rgba($white, 0.4);
    }
  }

  button + a {
    padding-left: 1rem;
  }

  footer {
    padding: 0;
  }

  .pop-over {
    z-index: 500;
  }
}
