.auto-complete {
  .pop-over {
    background: $black;
    z-index: 500;
  }
  .pop-over-container {
    padding: 1rem;
    width: 500px;
  }

  li {
    font-size: 1rem;
    padding: 0.5rem 0.25rem;
  }

  li + li {
    border-top: 1px solid $heather;
  }
}
