<section class="frame">
  <h2>About</h2>
  <hr class="thick">
  {{#if session.currentUser}}
    <nav>
      {{#link-to 'about.edit'}}
        {{icon "edit"}} Edit
      {{/link-to}}
      <hr>
    </nav>
  {{/if}}
  {{simple-format model.about}}
  <p class="signatures">
    {{inline-svg "philee"}} <span class="et">&</span> {{inline-svg "tim"}}
  </p>
</section>
